@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Box settings
$box-padding: 0.5rem;

// Import only what you need from Bulma
@import '../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../node_modules/bulma/sass/base/_all.sass';
@import '../../../node_modules/bulma/sass/elements/button.sass';
@import '../../../node_modules/bulma/sass/elements/container.sass';
// @import '../../../node_modules/bulma/sass/elements/form.sass';
@import '../../../node_modules/bulma/sass/elements/box.sass';
@import '../../../node_modules/bulma/sass/elements/title.sass';
// @import '../../../node_modules/bulma/sass/components/navbar.sass';
// @import '../../../node_modules/bulma/sass/layout/hero.sass';
// @import '../../../node_modules/bulma/sass/layout/section.sass';

body,
#app {
  flex-basis: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

header {
  height: 100px;
  background: yellowgreen;
}

#main {
  display: flex;
  flex: 1;
  background: lightcyan;
  min-height: calc(100vh - 100px);
}

#main>article {
  flex: 1;
}

#main>nav,
#main>aside {
  flex: 0 0 20vw;
  background: beige;
}

#main>nav {
  order: -1;
}

header,
article,
nav,
aside {
  padding: 1em;
}

.box {
  max-width: 300px;
}